<div class="products-container">
  <h1 class="title">Productos</h1>
  <ul class="products-list">
    {{#each products}}
      <li class="product">
        <h2>{{title}}</h2>
        <p>Descripción: {{description}}</p>
        <p>Código: {{code}}</p>
        <p>Precio: ${{price}}</p>
        <p>Stock: {{stock}}</p>
        <p>Categoría: {{category}}</p>
      </li>
    {{/each}}
  </ul>
</div>

<script src="/js/products.js"></script>