<div class="product-details"></div>
<h1>{{product.title}}</h1>
<p>Descripción: {{product.description}}</p>
<p>Código: {{product.code}}</p>
<p>Precio: ${{product.price}}</p>
<p>Stock: {{product.stock}}</p>
<p>Categoría: {{product.category}}</p>
  <button class="btn-primary">
    Agregar al carrito
  </button>
</div>